// Greys
$white: rgb(255, 255, 255);
$grey1: rgb(232, 232, 232);
$grey2: rgb(246, 247, 248);
$black: rgba(0, 0, 0, 0.85);

// Blues
$brandBlue: #1890ff;
$lightBlue1: #e6f7ff;

// Greens
$successGreen: #b7eb8f;
